$greenGray: rgb(140, 159, 140);

body {
 padding: 5%;
 padding-top: 2%;
//  color: 
//  background-color:rgb(161, 59, 59);
 font-family: Roboto;
}

#mainContainerTopDiv{
  display: flex;

  #HeaderContainerDiv{
    background-color: lighten($greenGray, 30%);
    background-color: darken($greenGray, 30%);
    border-bottom-right-radius: 7.5vw;
    width: 10vw;
    height: 15vw;

    img{
      width: 60%;
      margin: 20% 0 0 20%; 
    }
  }

  #PriceQueryContainerDiv{
    display: flex;
    height: 7vw;
    width: 75vw;
    margin-left: 15vw;

    border-bottom-left-radius: 7.5vw;
    border-top-left-radius: 7.5vw;
    border: 0.5rch solid lighten($greenGray, 30%);
    border-style: solid none solid solid;

    align-self:self-end;
    justify-content: space-between;
        
    .roundDiv{
      background-color: lighten($greenGray, 10%);
      height: 7vw;
      width: 7vw;
      border-radius: 50%;
      text-align: center;
      justify-content: center;
      
      h3 {
        font-size: 3rem;
        margin: 0.15rem;
      }

      p {
        font-size: 2rem;
        margin-top: 0;
      }
    }
  }

}

.RowsContainer {
  display: flex;
  .cell-id {
    font-size: small;
  }

  .cell-id, .cell-item, .cell-customer, .cell-price{
    width: 10%;
    font-size: small;
  }

  .cell-event_name {
    width: 15%;
    font-size:x-small;
  }

  .cell-destination {
    width: 40%;
    font-size: small;  
  }

  .cell-sent_at_second {
    width: 5%;
    font-size: small;  
  }
}

.CellComponentDiv{
  padding: 0.5em;
  margin-top: 2px;
  background-color: lightgoldenrodyellow;
  border: 1px solid grey;
}

