$greenGray: rgb(140, 159, 140);
$baseGray: #D4D9DF;
$cancelGray: #9AA8B6;
$green0:#55bd00;
$blue1: #84a9b6;
$blue2: #6CB8F6;
$blue3: #88ACFF;
$purple4: #AC9FED;
$purple5: #C194DF;


body {
 padding: 5%;
 padding-top: 2%;
 font-family: Roboto;
}

#mainContainerTopDiv{
  display: flex;

  #orderManagerH1 {
    color: darken($baseGray, 20%);
    margin: 2%;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
  }

  #HeaderContainerDiv{
    background-color: $baseGray;
    // background-color: darken($greenGray, 30%);
    border-bottom-right-radius: 7.5vw;
    width: 10vw;
    height: 15vw;
    margin-left: 1%;

    img{
      width: 60%;
      margin: 20% 0 0 20%; 
    }
  }

  #PriceQueryContainerDiv{
    color: darken($baseGray, 50%);

    display: flex;
    height: 3.5vw;
    width: 60vw;
    padding: 0.4vw;

    border-bottom-left-radius: 7.5vw;
    border-top-left-radius: 7.5vw;
    border: 0.5rch solid lighten($baseGray, 10%);
    border-style: solid none solid solid;

    align-self:self-end;
    justify-content: space-between;
    align-items: center;
        
    #CountComponentDiv{
      height: 3.25vw;
      margin-left: 2rem;
      margin-bottom: 1rem;
      
      span {
        font-size: 1.5rem;  
        margin-left: 1rem;      
      }

      p {
        font-size: 0.8rem;
      }
    }

    #QueryComponentForm{
      align-items: center;

      #targetPriceLabel {
        font-size: 0.8rem;
      }

      #targetPriceInput {
        margin-left: 1rem;
        background-color: $baseGray;
        border: 0;
        height: 1.75rem;
        padding: 0.25rem;

        &:hover {
          border: 2px solid $blue2;
          background-color: lighten($baseGray, 15%);
        }
      }
    }
  }
}

#tableContainer{
  margin-top: 2rem;
  min-width: 90vw;
  color: darken($baseGray, 40%);
  font-weight: 300;

  .RowsContainer, #trTitleTableContainer {
    display: flex;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 2px;
    text-overflow: ellipsis;


    .cell, .thColumnTitleComponent{
      flex: 0 0 10%;
      max-width: 100%;
      min-height: 2rem;
      padding-left: 0.25%;
      margin-left: 0.35%;
      font-size: small;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-top: 1%;

      @media (max-width: 600px) {
            font-size: 2vw; 
      }
    }

    .cell{
      box-shadow: 5px 0 5px -5px rgba(0, 0, 0, 0.5)
    }

    .column-destination {
      flex: 0 0 30%;
      max-width: 100%;
      border-collapse: collapse;
      // font-size: small;  
    }

    .column-id {
      flex: 0 0 7%;
      max-width: 100%;
    }

    .column-item {
      flex: 0 0 15%;
      max-width: 100%;
      border-collapse: collapse;
      font-size: small;  
    }

    .column-item, .column-price {
      font-weight: 550;
      color: darken($baseGray, 80%);
    }
    
  }

  .column-destination {
    flex: 0 0 35%;
    border-collapse: collapse;
    // font-size: x-small;  
  }

  #trTitleTableContainer {
    .thColumnTitleComponent {
      color: darken($baseGray, 45%);
      font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      font-size: 0.85em;  
      font-weight: 400;
      margin-left: 4px;
      min-height: 2rem;
      border: 0;
      // text-align: left;
      padding-bottom: 0;
      
      box-shadow: 0 -5px 5px -5px rgba(0, 0, 0, 0.5)
    }

  }

  .RowsContainer{
    .column-id {
      color: white;
      background-color: #9AA8B6;
      flex: 0 0 7%;
      max-width: 100%;
      border-collapse: collapse;
      font-size: x-small; 
      border-radius: 0.75rem 0 0 0.75rem;
      padding-top: 0.5rem;  
      padding-left: 0.5rem;  
    }

  }

      // conditional status style
  .rowsStatusCREATED {
    .column-item, .column-event_name, .column-customer, .column-destination, .column-sent_at_second, .column-price {
      background-color: lighten($purple4, 20%);
    }

    .column-id {
      background-color: $purple4;
    }

    .column-event_name{
      color: $purple4;
    }
  
  }

  .rowsStatusCOOKED {
    .column-item, .column-event_name, .column-customer, .column-destination, .column-sent_at_second, .column-price {
      background-color: lighten($blue3, 20%);
    }

    .column-id {
      background-color: $blue3;
    }

    .column-event_name{
      color: $blue3;
    }
  }

  .rowsStatusDRIVER_RECEIVED {
    .column-item, .column-event_name, .column-customer, .column-destination, .column-sent_at_second, .column-price {
      background-color: lighten($blue2, 25%);
    }

    .column-id {
      background-color: $blue2;
    }

    .column-event_name{
      color: $blue2;
    }

  }
  
  .rowsStatusDELIVERED {
    .column-item, .column-event_name, .column-customer, .column-destination, .column-sent_at_second, .column-price {
      background-color: lighten($blue1, 25%);
    }
    .column-event_name{
      color: $blue1;
    }

  }

  .rowsStatusCANCELLED {
    .column-item, .column-event_name, .column-customer, .column-destination, .column-sent_at_second, .column-price {
      background-color: $cancelGray;
    }

    .column-id {
      background-color: $cancelGray;
    }
  }
  

}












